@charset "utf-8";

// Colours
$tt-western-purple:#4F2683;
$tt-western-grey: #807F83;

$tt-course-section: #FAFAFA;
$tt-course-comp: #FAF6F3;

$link: $tt-western-purple;
$danger: darkorange;
$dark: $tt-western-grey;
$scheme-main: #FFFFFF;
// $scheme-main: #C8C8C9;
$body-background-color: #E3E3E3;

// Typography
$family-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$tt-bold-weight: 600;

$title-weight: $tt-bold-weight;
$title-family: $family-sans-serif;
$title-color: $tt-western-purple;

$message-header-weight: regular;
$strong-weight: $tt-bold-weight;

@import "./node_modules/bulma/bulma.sass";