@charset "utf-8";

$tt-western-purple:#4F2683;
$tt-western-grey: #807F83;
$tt-section-row: aliceblue;

// Colours
$link: $tt-western-purple;
$danger: darkorange;
$dark: $tt-western-grey;

// Typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
$family-sans-serif: "Open Sans", sans-serif;
$tt-bold-weight: 600;

$title-weight: $tt-bold-weight;
$title-family: "Open Sans", serif;
$title-color: $tt-western-purple;

$subtitle-weight: $tt-bold-weight;

$message-header-weight: regular;
// Colors
$scheme-main: #fefefe;
$body-background-color: #eeeef3;

// vue-select
$vs-component-line-height: 2;
$vs-state-active-bg: $tt-western-purple;
$vs-border-color:$tt-western-purple;


@import "../node_modules/bulma/bulma.sass";
@import '../node_modules/vue-select/src/scss/vue-select.scss';
